 /* Estrutura do Sitema */
 
 * {
     font-family: "Arial Narrow", Helvetica, sans-serif;
     font-size: 13px;
     color: #333333;
     padding: 0px;
     margin: 0px;
     list-style: none;
 }
 
 a img {
     border: none
 }
 
 h1 {
     background: #F8FCFF;
     padding: 10px;
     font-weight: normal;
     font-size: 15px !important;
     margin-bottom: 30px;
     border-radius: 5px;
 }
 
 #form h1 {
     background: #F1F6FA;
     padding: 3px;
 }
 
 h1 span {
     float: right;
     margin-right: 5px;
 }
 
 a {
     text-decoration: none
 }
 
 a:hover {
     text-decoration: underline
 }
 
 h2 {
     font-size: 15px;
     color: #09F;
     border-bottom: #EBF7FF solid 2px;
     margin-bottom: 20px;
 }
 
 h2 span {
     float: right
 }
 
 #inicial_painel {
     float: left;
     width: 100%;
     margin-bottom: 20px;
 }
 
 #inicial_titulo {
     padding: 11px 0;
     border-radius: 5px;
     font-size: 16px;
     font-weight: bold;
     text-align: center;
     float: left;
     width: 100%;
 }
 
 #inicial_imagem {
     float: left;
     padding: 12px;
 }
 
 #inicial_texto {
     padding: 9px 0;
     width: 77%;
     float: left;
 }
 
 #inicial_texto fieldset {
     min-height: 120px;
     margin-bottom: 0;
 }
 /*NORMAL*/
 
 body {
     background: #EBF7FF url(../img/bg_fundo_top.jpg) repeat-x;
 }
 
 #footer {
     height: 115px;
     background: rgb(0, 153, 255);
 }
 
 #footer_shadow {
     background: #EBF7FF;
     height: 20px;
     box-shadow: 0px 10px 10px 0px rgba(0, 117, 195, 1);
     margin-top: 0px;
 }
 
 #footer_body {
     width: 900px;
     margin: 0 auto;
     margin-top: 15px;
 }
 
 #footer_imagem {
     float: left;
     margin-top: 20px;
 }
 
 #footer_imagem a img {
     width: 120px
 }
 
 #footer_texto {
     float: right;
     text-align: right;
     font-size: 15px;
     color: white;
     font-family: inherit;
     margin-top: 20px;
 }
 
 #inicial_titulo {
     background-color: #EBF7FF;
     color: rgb(0, 153, 255);
 }
 
 #inicial_imagem img {
     border: 4px solid #EBF7FF;
 }
 /*ROSA*/
 /*
body { background: #FDF2FA url(../img/bg_fundo_top_rosa.jpg) repeat-x }
#footer{ height: 115px; background: rgb(230, 100, 196);}
#footer_shadow{ background: #FDF2FA; height: 20px; box-shadow: 0px 10px 10px 0px rgb(195, 0, 163); margin-top: 0px;}
#footer_body{ width:900px;  margin: 0 auto; margin-top: 15px;}
#footer_imagem{ float: left; margin-top: 20px; }
#footer_imagem a img{width: 120px}
#footer_texto{ float: right;text-align: right; font-size: 15px;color: white;font-family: inherit; margin-top: 20px;}
#inicial_titulo{background-color: #FDF2FA; color: #E664C4}
#inicial_imagem img{border: 4px solid #FDF2FA;}
 */
 
 #geral {
     background: #FFFFFF;
     margin: 0 auto 0px;
     width: 1325px;
 }
 
 #topo1 {
     margin: 0 auto 0PX;
     width: 960px;
     height: 85px;
 }
 
 #topo2 {
     background: url(../img/iconsorcio2.png);
     /*Normal*/
     /*background: url(../img/iconsorcionatal.png);*/
     /*Natal*/
     height: 83px;
     background-repeat: no-repeat;
     background-size: 227px 50px;
     background-position: 15px;
 }
 /*#menu { background:#4473CA ; height:42px; border:#0066CC solid 2px; }*/
 
 #menu {}
 
 #meio {
     clear: both;
     width: 1085px;
     margin: 0 auto 0px;
 }
 /*#cont { width:970px; background:#FFFFFF; float:left; border-bottom:#FFFFFF solid 20px; padding:5px; min-height:700px; -webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
	*/
 
 #cont {
     width: 1315px;
     background: #FFFFFF;
     float: left;
     border-bottom: #FFFFFF solid 20px;
     padding: 5px;
     min-height: 700px;
     -webkit-border-top-left-radius: 10px;
     -webkit-border-top-right-radius: 10px;
     -moz-border-radius-topleft: 10px;
     -moz-border-radius-topright: 10px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
 }
 /*  #rodape {  background:#FFFFFF scroll 1px; min-height:100px; clear:both; }*/
 /****************************************************/
 /* Padrão de Tabela */
 /* Padrão de Tabela */
 
 #table {
     width: 100%
 }
 
 #table {
     background: #FFF;
     border: #DFEAF3 solid 1px;
 }
 
 #table td {
     border-bottom: #DFEAF3 solid 1px;
     font-size: 13px;
     padding: 3px;
 }
 
 #table tr {
     border-bottom: #F3F7FB solid 1px;
 }
 
 #table tr:hover td {
     background: #FFFFCC
 }
 
 #table th {
     background: url(img/b1.png) repeat;
     padding: 5px;
     border-right: #FFF solid 1px;
     border-bottom: #DFEAF3 solid 1px;
 }
 
 #table tr:nth-child(2n+1) {
     background-color: #F8FCFF
 }
 /* Padrão Paginação */
 
 #paginacao {
     height: 40px;
     width: 950px;
     clear: both;
     margin: 0 auto 0px;
     margin-top: 20px;
     font-size: 11px;
     text-align: center;
     background: #f5f5f5;
     padding: 5px;
     border-radius: 5px;
 }
 
 #paginacao a {
     float: left;
     padding: 8px;
     font-size: 11px;
     text-align: center;
 }
 
 #paginacao span {
     float: left;
     padding: 8px;
     font-size: 11px;
     color: #0066FF;
     text-align: center;
     background: #0066FF;
     border-radius: 5px;
     color: #ffffff;
 }
 
 #paginacao a:hover {
     color: #0066FF;
     text-align: center;
     background: #0066FF;
     border-radius: 5px;
     color: #ffffff;
 }
 /* Padrões de Mensagem */
 
 #alert {
     padding: 10px;
     color: #F00
 }
 
 #alert {
     border: 1px solid;
     margin: 10px 0px;
     padding: 15px 10px 15px 50px;
     background-repeat: no-repeat;
     background-position: 10px center;
     margin-bottom: 15px;
     margin-top: 15px;
     font-size: 14px;
 }
 
 #alert {
     color: #FF6600;
     background-color: #FFF8E0;
     background-image: url('../img/alerta_icone.png');
     border-left: none;
     border-right: none;
 }
 
 #msg_excluir {
     padding: 10px;
     border: #FF0000 solid 2px;
     color: #FF0000
 }
 
 #msg_conf {
     padding: 10px;
     border: #00CC00 solid 2px;
     color: #00CC00
 }
 
 .reg_excluido {
     background: #F00;
     color: #FFF;
 }
 /* Painel Pessoa */
 
 #pnl_pessoa {
     margin-bottom: 5px;
     border: #DFEAF3 solid 1px;
     padding: 10px;
     height: 140px;
     clear: both
 }
 
 #pnl_pessoa img {
     float: left;
     margin-right: 20px;
     border: #DFEAF3 solid 1px;
 }
 
 #pnl_pessoa img:hover {
     border: #0066CC solid 1px;
 }
 
 #pnl_pessoa h1 {
     font-size: 15px;
     font-weight: bold;
     color: #000066;
     background: #FFFFFF;
 }
 
 #pnl_pessoa li {
     line-height: 25px;
     border-bottom: #EDED solid 1px;
 }
 /* Painel de Busca */
 
 #res_pesq {
     border: #CCCCCC solid 1px;
     padding: 10px;
 }
 
 #res_pesq h1 {
     background: #FFF;
     color: #03C;
 }
 
 #res_pesq h1 span {
     float: right;
 }
 
 #l_molestia {}
 
 #l_molestia div#reg {
     border: #C5C5C5 solid 1px;
     margin-bottom: 10px;
     padding: 2px;
 }
 /* Relátorios */
 
 #rel li {
     line-height: 15px;
     padding: 10px;
     border-bottom: #EBF7FF solid 1px;
     clear: both
 }
 
 #rel li a:hover {
     text-decoration: underline;
     color: #06C;
 }
 /* Padrão de Lista do Tipo Box*/
 
 .list_obs_ext {
     border: #FFB5B5 solid 1px;
     color: #F00;
     min-height: 150px;
     margin-bottom: 10px;
     overflow: auto;
 }
 
 .list_obs_txt {
     float: left;
     padding: 10px;
     width: 80%;
     text-align: justify;
 }
 
 .list_obs_btn {
     float: right;
     width: 10%;
     border-left: #FFEAEA solid 1px;
     padding: 10px;
 }
 
 #lista2 {
     border: #CCCCCC solid 1px;
     padding: 5px;
     margin-bottom: 10px;
 }
 
 #lista2 h1 {
     color: #0066CC;
     margin-bottom: 0px;
 }
 
 #lista2 h1 span {
     float: right;
 }
 
 #lista2 li {
     border-bottom: #CCCCCC solid 1px;
     padding: 5px;
 }
 
 #lf {
     clear: both;
     width: 100%;
 }
 
 #lf div {
     border: #f5f5f5 solid 2px;
     float: left;
     margin: 5px;
     width: 90%;
     padding: 5px;
     min-height: 50px;
     width: 950px;
 }
 
 #lf div:hover {
     border: #A2DAFF solid 2px;
 }
 
 #lf div img#foto {
     float: left;
     margin-right: 10px;
     border: #f5f5f5 solid 2px;
     height: 100px;
     width: 100px;
 }
 
 #lf div img#foto:hover {
     border: #FF9900 solid 2px;
 }
 
 #lf div li {
     line-height: 20px;
 }
 
 .buscar {
     margin-left: 5px;
     padding: 8px;
     background: #FFFFFF;
     border: #c4c3c3 solid 1px;
     cursor: pointer;
 }
 
 .buscar:hover {
     color: #000000;
     color: #0066CC;
     border: #0099FF solid 1px;
 }
 
 #res_busca {
     border: #f5f5f5 solid 5px;
     padding: 2px;
     margin-bottom: 5px;
 }
 
 .obrigatorio {
     color: #F00
 }
 
 #pag2 {
     height: 35px;
     border: #DFEAF3 solid 1px;
     background: #F8FCFF
 }
 
 #pag2 li {
     float: left;
     padding: 10px;
 }
 
 #pag2 li a:hover {
     color: #06C
 }
 
 #status_on {
     height: 10px;
     width: 10px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     border-radius: 50px;
     background-color: rgb(31, 215, 31);
     margin: 5px;
     border: 1px solid rgb(20, 155, 20);
 }
 
 #status_off {
     height: 10px;
     width: 10px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     border-radius: 50px;
     background-color: rgb(253, 3, 3);
     margin: 5px;
     border: 1px solid rgb(155, 20, 20);
 }
 /*novos2017*/
 
 .acao {
     border: 0;
     background: none;
     cursor: pointer;
 }
 
 .especi {
     cursor: pointer;
 }
 
 .inpPesq {
     float: left;
     padding: 8px;
     border: #CCCCCC solid 1px;
     width: 200px;
     font-style: italic;
     background: url(../../../img/icon_lupa.jpg) no-repeat;
     padding-left: 25px;
 }
 
 .selPesq {
     float: left;
     width: 145px;
     height: 35px;
     margin-left: 5px;
     border: #999999 solid 1px;
 }
 
 .subPesq {
     margin-left: 5px;
     padding: 8px;
     background: #FFFFFF;
     border: #CCCCCC solid 1px;
     cursor: pointer
 }
 
 .infpesq {
     border: #CCCCCC solid 1px;
     padding: 10px;
 }
 
 .infpesq h1 {
     background: #FFF;
     color: #476acc;
     margin-bottom: 0px;
 }
 
 .infpesq h1 span {
     float: right;
 }
 
 .infpesq h2 {
     font-size: 13px;
     color: black;
     border: 0px;
     margin-bottom: 0px;
     padding: 10px;
     font-weight: normal;
     padding-top: 0px;
 }
 
 .icolog {
     width: 15px;
     height: 15px;
     /*background-color: #FFC107;*/
     border-radius: 15px;
     color: white;
     font-weight: bold;
     text-decoration: none;
     opacity: 0.5;
 }
 
 .icolog:hover {
     /*background-color: #ab830b;*/
     opacity: 1;
 }
 
 .icohv {
     width: 15px;
     height: 15px;
     background-color: #07c9ff;
     border-radius: 15px;
     color: white;
     font-weight: bold;
     text-decoration: none;
 }
 
 .icohv:hover {
     background-color: #0b81ab;
 }
 
 .buttonc {
     padding: 7px;
     cursor: pointer;
     margin-left: 5px;
     background: #EDEDED;
     border: #999999 solid 1px;
     border-radius: 5px;
     height: 30px;
 }
 
 .buttonc:hover {
     background: #0066CC;
     color: #FFFFFF;
 }
 
 .buttonc:hover .fa-plus {
     color: white;
 }
 
 .boxmed {
     display: inline-block;
     border: 1px solid #f1f1f1;
     width: 96%;
     padding: 10px;
     margin-bottom: 5px;
     margin-left: 15px;
 }
 
 .buttonremove {
     float: right;
     width: 20px;
     height: 20px;
     font-size: 16px;
     background: none;
     border: none;
     cursor: pointer;
 }
 
 .buttonremove i:hover {
     color: red;
 }
 
 .buttonremove:focus {
     outline: none;
 }
 
 .cicle {
     width: 10px;
     height: 10px;
     border-radius: 10px;
     display: inline-block;
 }
 
 .cred {
     background-color: red;
 }
 
 .cgreen {
     background-color: #06bd06;
 }
 
 .cblue {
     background-color: #0075ff;
 }
 
 .corange {
     background-color: #ff9900;
 }
 
 .cgrey {
     background-color: grey;
 }
 
 .cyellow {
     background-color: yellow;
 }
 
 .menor {
     width: 100px;
 }
 
 .totais {
     background-color: #f2f2f2;
 }
 
 #acoes1 {
     font-size: 16px;
 }
 
 .agreen {
     color: green;
 }
 
 .ared {
     color: red;
 }
 
 .ablue {
     color: blue;
 }
 
 .aorange {
     color: orange;
 }
 
 .ayellow {
     color: #f5de17;
 }